@{
    ViewData["Title"] = "User Management";
    Layout = "_Dashboard";
}


<h4 class="fw-semibold mb-4">User Management Features</h4>


<div class="row g-4">
    <div class="col-xl-12 col-lg-6 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h6 class="fw-normal mb-2">Total 8 users</h6>
                    <ul class="list-unstyled d-flex align-items-center avatar-group mb-0">
                        <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" class="avatar avatar-sm pull-up" aria-label="Vinnie Mostowy" data-bs-original-title="Vinnie Mostowy">
                            <img class="rounded-circle" src="../../assets/img/avatars/gear.png" alt="Avatar">
                        </li>
                    </ul>
                </div>
                <div class="d-flex justify-content-between align-items-end mt-1">
                    <div class="role-heading">
                        <h4 class="mb-1">Users</h4>
                        <a asp-area="Identity" asp-page="/Account/Register" class="role-edit-modal"><span>Add User</span></a>  &nbsp; | &nbsp;
                        <a asp-area="Identity" asp-page="/Account/Register" class="role-edit-modal"><span>Manage Users</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-12 col-lg-6 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h6 class="fw-normal mb-2">Total 4 zones</h6>
                    <ul class="list-unstyled d-flex align-items-center avatar-group mb-0">
                        <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" class="avatar avatar-sm pull-up" aria-label="Vinnie Mostowy" data-bs-original-title="Vinnie Mostowy">
                            <img class="rounded-circle" src="../../assets/img/avatars/gear.png" alt="Avatar">
                        </li>
                    </ul>
                </div>
                <div class="d-flex justify-content-between align-items-end mt-1">
                    <div class="role-heading">
                        <h4 class="mb-1">Zones</h4>
                        <a asp-area="Identity" asp-page="/Account/Register" class="role-edit-modal"><span>Add Zone</span></a>  &nbsp; | &nbsp;
                        <a asp-area="Identity" asp-page="/Account/Register" class="role-edit-modal"><span>Manage Zones</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-12 col-lg-6 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h6 class="fw-normal mb-2">Total 45 Commands</h6>
                    <ul class="list-unstyled d-flex align-items-center avatar-group mb-0">
                        <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" class="avatar avatar-sm pull-up" aria-label="Vinnie Mostowy" data-bs-original-title="Vinnie Mostowy">
                            <img class="rounded-circle" src="../../assets/img/avatars/gear.png" alt="Avatar">
                            
                        </li>
                    </ul>
                </div>
                <div class="d-flex justify-content-between align-items-end mt-1">
                    <div class="role-heading">
                        <h4 class="mb-1">Commands</h4>
                        <a asp-area="Identity" asp-page="/Account/Register" class="role-edit-modal"><span>Add Command</span></a>  &nbsp; | &nbsp;
                        <a asp-area="Identity" asp-page="/Account/Register" class="role-edit-modal"><span>Manage Commands</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-12 col-lg-6 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h6 class="fw-normal mb-2">Total 71 Stations</h6>
                    <ul class="list-unstyled d-flex align-items-center avatar-group mb-0">
                        <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" class="avatar avatar-sm pull-up" aria-label="Vinnie Mostowy" data-bs-original-title="Vinnie Mostowy">
                            <img class="rounded-circle" src="../../assets/img/avatars/gear.png" alt="Avatar">
                        </li>
                    </ul>
                </div>
                <div class="d-flex justify-content-between align-items-end mt-1">
                    <div class="role-heading">
                        <h4 class="mb-1">Stations</h4>
                        <a asp-area="Identity" asp-page="/Account/Register" class="role-edit-modal"><span>Add Station</span></a>  &nbsp; | &nbsp;
                        <a asp-area="Identity" asp-page="/Account/Register" class="role-edit-modal"><span>Manage Stations</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-xl-12 col-lg-6 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h6 class="fw-normal mb-2">Total 6 Location categories</h6>
                    <ul class="list-unstyled d-flex align-items-center avatar-group mb-0">
                        <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" class="avatar avatar-sm pull-up" aria-label="Vinnie Mostowy" data-bs-original-title="Vinnie Mostowy">
                            <img class="rounded-circle" src="../../assets/img/avatars/gear.png" alt="Avatar">
                        </li>
                    </ul>
                </div>
                <div class="d-flex justify-content-between align-items-end mt-1">
                    <div class="role-heading">
                        <h4 class="mb-1">Categories</h4>
                        <a asp-area="Identity" asp-page="/Account/Register" class="role-edit-modal"><span>Add Category</span></a>  &nbsp; | &nbsp;
                        <a asp-area="Identity" asp-page="/Account/Register" class="role-edit-modal"><span>Manage Category</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


